<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </main>
</div>
