<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <%= link_to new_user_path, html_options = {class: "nav-link"} do %>
          Criar novo usuario
        <% end %>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as: <%= current_user.name %></div>
    </div>
  </nav>
</div>
