<%= render 'layouts/shared/head' %>

<div class="bn bn-devise devise">
  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'layouts/shared/footer' %>
